<div class="container">
  <div class="row">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_td_5">
      <p class="section_title padding_bottom_20"><%=t("generals.app_information")%></p>
      <p class="normal_button button_korrektur"><%= link_to t("generals.button.new_project"), new_app_path, class:"button_korrektur"%></p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding_td_5">
    </div>
  </div>
</div>