<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding_td_5 ">
  <p class="section_title"><%= t("generals.language_options") %></p>
  <% if @coll.baselang %>
      <p class="body_copy"><%= t("generals.submission_language") + ": " + @coll.baselang %></p>
  <% else %>
      <p class="body_copy"><%= t("generals.submission_language") + ": " + t("generals.system_keywords") %></p>
  <% end %>

  <div id="change_language_form_field">
    <%= render "/shared/change_language_form_field", editable: editable %>
  </div>
  <div id="in_bearbeitung_div" class="in_bearbeitung_div col-xs-12 col-sm-12 col-md-12 col-lg-12 padding_td_5 body_copy">
  </div>
</div>




