<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_top_20 margin_bottom_20">
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  padding_td_5 site_padding_2">
    <button type="button" id="node_change_button" class="normal_button" onclick="save_all_changes()"><%=t("generals.button.save_all_changes")%></button>
    <div id="wird_gespeichert_div" class="in_bearbeitung_div"></div>
    <div id="change_vorhanden_div" class="in_bearbeitung_div"></div>
  </div>
</div>