<div class="container">
  <div class="row">

    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 margin_bottom_10">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site_padding_2">
        <%= button_to t("generals.button.back_to_project"),
                      { action: "show",
                        id: @app.id },
                      class: "normal_button",
                      method: :get%>
      </div>
    </div>



    <div id="edit_list_form">
      <%= render 'edit_list_form' %>
    </div>

    <div class="bcol-xs-12 col-sm-12 col-md-12 col-lg-12 padding_td_5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 site_padding_2">
        <%= button_to t("generals.button.back_to_project"),
                      { action: "show",
                        id: @app.id },
                      class: "normal_button",
                      method: :get%>
      </div>
    </div>

  </div>
</div>