<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding_td_5 text-center margin_top_50">

          <p class="small padding_td_5"><%=t("generals.developed_by")%></p>
          <p class="small padding_td_5"><%= link_to "Müller & Wulff GmbH", 'http://mueller-wulff.de', class:"small"%></p>

      </div>
    </div>
  </div>

</footer>